$light-theme: ( 
    fill-accent-high: #333333,
    fill-accent-medium: #666666,
    fill-accent-base: #CCCCCC,
    fill-accent-low: #FFFFFF,
    fill-basic-high: #333333,
    fill-basic-medium: #666666,
    fill-basic-base: #CCCCCC,
    fill-basic-low: #FFFFFF,
    fill-contrast-high: #333333,
    fill-contrast-medium: #666666,
    fill-contrast-base: #CCCCCC,
    fill-contrast-low: #FFFFFF,
    fill-complimentary-high: #333333,
    fill-complimentary-medium: #666666,
    fill-complimentary-base: #CCCCCC,
    fill-complimentary-low: #FFFFFF,
    stroke-accent-high: #333333,
    stroke-accent-medium: #666666,
    stroke-accent-base: #CCCCCC,
    stroke-accent-low: #FFFFFF,
    stroke-basic-high: #333333,
    stroke-basic-medium: #666666,
    stroke-basic-base: #CCCCCC,
    stroke-basic-low: #FFFFFF,
    stroke-contrast-high: #333333,
    stroke-contrast-medium: #666666,
    stroke-contrast-base: #CCCCCC,
    stroke-contrast-low: #FFFFFF,
    stroke-complimentary-high: #333333,
    stroke-complimentary-medium: #666666,
    stroke-complimentary-base: #CCCCCC,
    stroke-complimentary-low: #FFFFFF,
    line-basic-high: #333333,
    line-basic-medium: #666666,
    line-basic-base: #CCCCCC,
    line-basic-low: #FFFFFF,
    line-contrast-high: #333333,
    line-contrast-medium: #666666,
    line-contrast-base: #CCCCCC,
    line-contrast-low: #FFFFFF,
    alt-accent-high: #333333,
    alt-accent-medium: #666666,
    alt-accent-base: #CCCCCC,
    alt-accent-low: #FFFFFF,
    alt-basic-high: #333333,
    alt-basic-medium: #666666,
    alt-basic-base: #CCCCCC,
    alt-basic-low: #FFFFFF,
    alt-contrast-high: #333333,
    alt-contrast-medium: #666666,
    alt-contrast-base: #CCCCCC,
    alt-contrast-low: #FFFFFF,
    status-success-high: #333333,
    status-success-medium: #666666,
    status-success-base: #CCCCCC,
    status-success-low: #FFFFFF,
    status-warning-high: #333333,
    status-warning-medium: #666666,
    status-warning-base: #CCCCCC,
    status-warning-low: #FFFFFF,
    status-danger-high: #333333,
    status-danger-medium: #666666,
    status-danger-base: #CCCCCC,
    status-danger-low: #FFFFFF,
    text-basic-high: #000000,
    text-basic-base: #333333,
    text-basic-low: #666666,
    text-basic-accent: #666666,
    text-basic-action: #666666,
    text-basic-success: #666666,
    text-basic-warning: #666666,
    text-basic-danger: #666666,
    text-contrast-high: #000000,
    text-contrast-base: #333333,
    text-contrast-low: #666666,
    text-contrast-accent: #666666,
    text-contrast-action: #666666,
    text-contrast-success: #666666,
    text-contrast-warning: #666666,
    text-contrast-danger: #666666,

);